extends ../template
include ../modules/mixins.pug

block variables
  - var title = 'Portfolio'
  - var pageName = 'works'
  - 
    var sl = [
      {id:1, photo:'./images/myWorks/fqr.jpg',          link:'https://goo.gl/YAHdZL'},
      {id:2, photo:'./images/myWorks/devops.jpg',       link:'https://goo.gl/3EDo1c'},
      {id:3, photo:'./images/myWorks/akreev.jpg',       link:'https://goo.gl/G1Od8d'},
      {id:4, photo:'./images/myWorks/glennerin.jpg',    link:'https://goo.gl/BeYqy8'},
      {id:5, photo:'./images/myWorks/laqfoil.jpg',      link:'https://goo.gl/Xg29Kr'},
      {id:6, photo:'./images/myWorks/eli.jpg',          link:'https://goo.gl/dPHJJz'},
      {id:7, photo:'./images/myWorks/national-atm.jpg', link:'https://goo.gl/jN2mEz'},
      {id:8, photo:'./images/myWorks/custom-wind.jpg',  link:'https://goo.gl/sZTPY8'},
      {id:9, photo:'./images/myWorks/zay.jpg',          link:'https://goo.gl/1enMTJ'},
      {id:10, photo:'./images/myWorks/george.jpg',      link:'https://goo.gl/cxcyHo'},
      {id:11,photo:'./images/myWorks/kpi.jpg',          link:'https://goo.gl/uJfKp4'},
      {id:12,photo:'./images/myWorks/rock.jpg',         link:'https://goo.gl/wFVqaJ'},
      {id:13,photo:'./images/myWorks/southfield.jpg',   link:'https://goo.gl/GSQwux'}
    ]         
  
block content
  include ../modules/water
  section.section.top
    header.top__header
      .top__socials
        include ../modules/socials
      .top__hamburger-menu
        include ../modules/hamburger-menu
    .top__content
      .top__title  
        svg(width='100' height='100').section-picture.section-picture_top
          use(xlink:href=`images/sprite/mySprite.min.svg#portfolio_header`)
        .top__person
          include ../modules/person
    .top__bottom
      button.arrow-down
        svg.arrow-down__icon(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#arrow_down`)
  section.section.works
    svg.dubletriangle(viewbox="0 0 1000 100" preservAspectRatio="none")
        polygon(points='0,100 0,0 500,100 500,100 1000,0 1000,100')
    .works__title
      .section-title.section-title_works My Works
      svg(width='100' height='100').section-picture
        use(xlink:href=`images/sprite/mySprite.min.svg#works_header`)

    //- слайдер
  section.section.slider
    .slider__discription.description-sl
      .description-sl__container
        .description-sl__title Site  1
          //- .section-title.section-title_description-sl Сайт школы онлайн образования
        .description-sl__skills HTML , CSS, JS
        ul.description-sl__link-list
          - var x = sl.length
            - for (var i=0; i<x; i++) {     
              li
                a(href=`${sl[i].link}` target="_blank").description-sl__link
                  svg.description-sl__icon(width=`20` height=`19`)
                    use(xlink:href=`images/sprite/mySprite.min.svg#link`)
                  .description-sl__text Go to the site!
            - }

    //- слайдер для фотографий проектов
    .slider__photos
      ul.photos-sl
        each item in sl
          li.photos-sl__item
            .photos-sl__slide(style=`background-image: url(${item.photo})`)
    //- слайер для кнопок
    .slider__nav-btns.nav-btns
      //- кнопка следующий
      .nav-btns__sl-btn.nav-btns__sl-btn_fill_next
        ul.sl-btn__list
          each item in sl
            li.sl-btn__item
              .sl-btn__slide(style=`background-image: url(${item.photo})`)    
        svg.sl-btn__btn(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#arrow_down`)
      //- кнопка предыдущий
      .nav-btns__sl-btn.nav-btns__sl-btn_fill_prev
        ul.sl-btn__list
          each item in sl
            li.sl-btn__item
              .sl-btn__slide(style=`background-image: url(${item.photo})`)
        svg.sl-btn__btn(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#portf_arrow_up`)
          
  section.section.feedback
    .feedback__title
      .section-title.section-title_feedback what people say about me
      svg(width='100' height='100').section-picture
        use(xlink:href=`images/sprite/mySprite.min.svg#about_header`)
    .feedback__reviews.reviews
      ul.reviews__list
        li.reviews__item
          .reviews__photo-container
            img(src="images/photos/kovalchyuk.jpg", alt="reviews-photo").reviews__photo
          .reviews__text This guy was trained in web development in LoftSchool! 2 months only the most difficult tests and sleepless nights!
          .reviews__author
            .reviews__author-name Kovalchuk Dmitry
            .reviews__author-status — founder of Loftschool
        li.reviews__item
          .reviews__photo-container
            img(src="images/photos/sabyantcev.jpg", alt="reviews-photo").reviews__photo
          .reviews__text This code can withstand any tests. Only, please, the site does not load with too old browsers!
          .reviews__author
            .reviews__author-name Sabantsev Vladimir
            .reviews__author-status — teacher
        
    .feedback__form
      form(action="../../contactMail.php" method="post").feedback-form
        .feedback-form__row.feedback-form__title
            .section-title.section-title_feedback-form Contact me
        .feedback-form__row
          input(type="text" name="name" placeholder='Name').feedback-form__input
          .feedback__pop-up Enter your name
        .feedback-form__row
          input(type="email" name="email" placeholder='Email').feedback-form__input
          .feedback__pop-up Mail is incorrect
        .feedback-form__row  
          textarea(name="message" placeholder='Message').feedback-form__textarea
        .feedback-form__row.feedback-form__row-btn 
          input(type="submit" value='Send').feedback-form__btn 
          input(type="reset" value='Reset').feedback-form__btn 
    .feedback__bottom.arrow-up
      button.arrow-up__btn
        svg.arrow-up__icon(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#portf_arrow_up`)
          
    footer.footer
      .footer__row
        .footer__col
          .footer__text This is my personal site.
        .footer__col
          .footer__menu
            - 
              var menu = [
                  {name:'Home', href:'index.html'},
                  {name:'Works',href: 'works.html'},
                  {name:'About',href: 'about.html'},
                  {name:'Blog',href: 'blog.html'}
              ]
            
            +menu('menu', menu)
          .footer__socials
            include ../modules/socials
        .footer__col
          .footer__quote Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live. Code for readability.
          .footer__quote-author — Martin Golding 
      .footer__row.footer__row_fill_green
        .author © Yaroslav Kryvda | Front-end developer | 2017
block scripts
  script(src=`./scripts/${pageName}.min.js`)